.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  height: 100vh;
  position: relative;
}
.labasBox {
  display: flex;
  gap: 50px;
}
.idejaAtmosferaBox {
  display: flex;
  gap: 50px;
  height: 50%;
}
.idejaAtmosferaBox .textBox {
  width: 50%;
}

.idejaAtmosferaBox img {
  width: 650px;
  height: 380px;
  margin-bottom: 35px;
  object-fit: cover;
  align-self: flex-end;
}
.labasBox img {
  width: 400px;
  height: 300px;
}
.main h1:before {
  content: "";
  display: flex;
  width: 50px;
  height: 15px;
  background-color: #f57b16;
}
.main h1 {
  display: flex;
  align-items: center;
}
.textBox {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  text-align: justify;
}
@media (max-width: 1024px) {
  .labasBox img {
    width: 330px;
    height: 270px;
  }
  .textBox {
    font-size: 1.2rem;
  }
  .idejaAtmosferaBox img {
    width: 500px;
    height: 270px;
    margin-bottom: 50px;
  }
  .main h1 {
    font-size: 1.7em;
    text-align: left;
  }
}
@media (max-width: 427px) {
  .main {
    width: 100%;
    padding: 50px;
    height: 225vh;
  }

  .labasBox {
    gap: 50px;
    flex-direction: column-reverse;
    width: 100%;
  }
  .textBox,
  .idejaAtmosferaBox .textBox {
    width: 100%;
  }
  .idejaAtmosferaBox img {
    width: 100%;
    height: 280px;
    margin-bottom: 0px;
  }
  .textBox p {
    width: 100%;
  }
  .idejaAtmosferaBox {
    flex-direction: column;
  }
}
