.content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content h1 {
  display: flex;
  align-items: center;
}
.content h1:before {
  content: "";
  display: flex;
  width: 50px;
  height: 15px;
  background-color: #f57b16;
}
.main {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main button {
  all: unset;
  width: 50px;
  height: 150px;
  color: white;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  font-size: 2rem;
}
.main button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.imgContainer {
  display: flex;
  gap: 100px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.imgContainer img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.middleSectionPics {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 700px;
  height: 600px;
  overflow: hidden;
}
.track {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: transform 0.25s ease;
}

.middleSectionPics img {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .content h1 {
    padding-left: 50px;
  }
  .imgContainer img {
    width: 300px;
    height: 300px;
  }
  .middleSectionPics,
  .middleSectionPics img {
    width: 580px !important;
    height: 500px !important;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .main {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .content h1 {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .imgContainer img {
    width: 280px;
  }
  .middleSectionPics,
  .middleSectionPics img {
    width: 530px !important;
    height: 500px !important;
  }
}
@media (max-width: 668px) {
  .content {
    font-size: 1.2rem;
    gap: 20px;
    padding: 0px;
    padding-bottom: 3rem;
    padding-top: 3rem;
    z-index: 0;
    height: fit-content;
  }

  .content h1 {
    font-size: 1.7em;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .imgContainer {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .middleSectionPics,
  .middleSectionPics img {
    width: 100% !important;
    height: 410px !important;
    z-index: 0;
    position: unset;
    transform: unset;
  }

  .imgContainer img:nth-child(1),
  .imgContainer img:nth-child(3) {
    display: none;
  }
  .imgContainer {
    position: relative;
  }
  .main {
    padding: 0px;
    height: unset;
  }
  .main button:nth-child(1),
  .main button:nth-child(2) {
    width: 30px;
    position: absolute;
    left: 0px;
    z-index: 10;
  }
  .main button:nth-child(3) {
    width: 30px;
    position: absolute;
    right: 0px;
    z-index: 10;
  }
  .content h1:before {
    width: 35px;
  }
}
