.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
}
.contentBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 80px;
  place-items: center;
  width: 100%;
  column-gap: 0px;
}
.contentBox > .serviceBox:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
}
.main .ball {
  width: 600px;
  height: 600px;
  object-fit: contain;
  border-radius: 300px;
}
.main h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main p {
  font-size: 1.5rem;
  text-align: justify;
}
.main .serviceIcon {
  height: 150px;
  width: 150px;
}
.serviceBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  font-size: 1.1rem;
}
.sectPicAndDescBox {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f57b16;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  justify-content: space-between;
}
.titleAndGrid {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.titleAndGrid h1 {
  margin-bottom: 10px;
}
@media (max-width: 1440) {
  .contentBox h3 {
    font-size: 1.5rem;
  }
  .contentBox {
    gap: 5%;
    column-gap: 10px;
  }
  .contentBox > .serviceBox:nth-child(3) {
    width: 200px;
  }
}
@media (max-width: 1024px) {
  .main {
    height: fit-content;
  }
  .titleAndGrid h1 {
    margin-bottom: 50px;
  }
  .titleAndGrid {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 50%;
  }
  .serviceBox {
    width: 120px;
  }
  .main .serviceIcon {
    height: 90px;
    width: 90px;
  }
  .main .ball {
    width: 50%;
    height: 100%;
  }
  .contentBox {
    row-gap: 40px !important;
    gap: 6%;
  }
  .sectPicAndDescBox {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  .contentBox h3 {
    font-size: 1.1rem;
  }
  .contentBox > .serviceBox:nth-child(3) {
    width: 100px;
  }
  .contentBox > .serviceBox:nth-child(3) h3 {
    width: 180px;
  }
}
@media (max-width: 889px) {
  .serviceBox img,
  .serviceBox,
  .serviceBox h3 {
    width: 100px;
    height: 100px;
  }
  .titleAndGrid h1 {
    margin-bottom: 30px;
  }
  .contentBox {
    gap: 6%;
  }
  .contentBox h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .main .serviceIcon {
    height: 75px;
    width: 75px;
  }
  .contentBox {
    gap: 1%;
  }
}
@media (max-width: 668px) {
  .serviceBox img,
  .serviceBox,
  .serviceBox h3 {
    width: unset;
    height: unset;
  }
  .contentBox h3 {
    font-size: 1.3rem;
  }

  .main {
    height: unset;
  }
  .titleAndGrid {
    padding: 3rem;
    max-width: 100%;
  }
  .titleAndGrid h1 {
    margin-bottom: 25px;
  }
  .main .serviceIcon {
    height: 50px;
    width: 50px;
  }
  .serviceBox {
    width: 100%;
    flex-direction: row;
    background-color: rgba(200, 71, 28, 0.557);
    padding: 10px;
    justify-content: space-between;
  }

  .serviceBox img {
    background-color: rgba(200, 71, 28, 0.847);
    padding: 5px;
  }
  .serviceBox h3 {
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .main .serviceIcon {
    height: 80px !important;
    width: 80px !important;
  }
  .main .ball {
    display: none;
  }
  .contentBox > .serviceBox:nth-child(3) {
    grid-column: unset;
    grid-row: unset;
    width: 100%;
    justify-content: space-between;
  }
  .contentBox > .serviceBox:nth-child(3) h3 {
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sectPicAndDescBox {
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    justify-content: center;
    align-items: center;
  }
  .contentBox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px !important;
  }

  .contentBox h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 456px) {
  .main .serviceIcon {
    height: 60px !important;
    width: 60px !important;
  }
  .contentBox h3 {
    font-size: 1rem;
  }
  .titleAndGrid h1 {
    font-size: 1.5em !important;
  }
}
@media (max-width: 377px) {
  .contentBox {
    margin: 0;
  }
}
@media (max-width: 322px) {
  .contentBox {
    gap: 20px;
    column-gap: 0px;
  }
  .titleAndGrid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
